@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 560px;
  height: 100vh;
}
@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: none;
    grid-template-rows: 90px 1fr;
  }
}

.page__background-image {
  width: 100%;
  background: url(../img/bg.webp) no-repeat;
  background-size: cover;
}

.page__sidebar {
  background: #F9FAFF;
  position: relative;
}
@media (max-width: 600px) {
  .page__sidebar {
    border-radius: 30px 30px 0 0;
    margin: -20px 0 0 0;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0 96px;
}
@media (max-width: 600px) {
  .sidebar {
    padding: 0 32px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.form__input-wrapper {
  margin: 0 0 40px 0;
  position: relative;
  padding: 0;
}
.form__input-wrapper_error .input-error {
  display: block;
}
.form__input-wrapper_error .form__input {
  border: 1px solid #F6657F;
}
.form__input-wrapper_sign-up {
  margin: 0 0 64px 0;
}
.form__input-wrapper_sign-in {
  margin: 0 0 64px 0;
}
.form__input-wrapper_restore {
  margin: 0 0 70px 0;
}
@media (max-width: 600px) {
  .form__input-wrapper {
    margin: 0 0 25px 0;
  }
  .form__input-wrapper_sign-up {
    margin: 0 0 32px 0;
  }
  .form__input-wrapper_sign-in {
    margin: 0 0 82px 0;
  }
  .form__input-wrapper_restore {
    margin: 0 0 25px 0;
  }
}
.form__input-wrapper .eye {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  background: url(../img/eye-flash.svg);
}
.form__input-wrapper .eye_visible {
  background: url(../img/search.svg);
}
.form__input {
  height: 56px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #DCE0EC;
  position: relative;
  padding: 16px 63px;
  box-shadow: 0 4px 32px rgba(218, 228, 255, 0.16);
}
.form__input:focus {
  outline: none;
  border: 1px solid #7297FF;
}
@media (max-width: 600px) {
  .form__input {
    height: 40px;
    width: 100%;
    padding: 9px 47px;
  }
}
.form__input_name {
  background: url(../img/user.svg) no-repeat;
  background-position-y: center;
  background-position-x: 18px;
}
.form__input_email {
  background: url(../img/email.svg) no-repeat;
  background-position-y: center;
  background-position-x: 18px;
}
.form__input_password {
  background: url(../img/password.svg) no-repeat;
  background-position-y: center;
  background-position-x: 18px;
}
.form__input_confirm {
  background: url(../img/confirm_password.svg) no-repeat;
  background-position-y: center;
  background-position-x: 18px;
}
.form__input::placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 600px) {
  .form__input::placeholder {
    font-size: 15px;
    line-height: 21px;
  }
}
.form__btn {
  height: 56px;
  width: 146px;
  border-radius: 8px;
  background-color: #7297FF;
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  padding: 0 32px 0 0;
  border: none;
  position: relative;
  cursor: pointer;
}
.form__btn::after {
  width: 21px;
  height: 21px;
  content: "";
  background-image: url(../img/arrow-right.svg);
  position: absolute;
  right: 26px;
}
@media (max-width: 600px) {
  .form__btn::after {
    right: 19px;
  }
}
.form__btn_restore {
  width: 213px;
}
@media (max-width: 600px) {
  .form__btn {
    font-size: 15px;
    height: 48px;
    width: 122px;
    padding: 0 32px 0 0;
  }
  .form__btn_restore {
    width: 198px;
  }
}

.form-title {
  position: relative;
  margin: 172px 0 40px 0;
}
@media (max-width: 600px) {
  .form-title {
    margin: 38px 0 24px 0;
  }
}
.form-title_sing-in {
  margin: 270px 0 40px 0;
}
@media (max-width: 600px) {
  .form-title_sing-in {
    margin: 38px 0 24px 0;
  }
  .form-title_sing-in .sidebar-form__input-wrapper:last-child {
    margin: 0 0 82px 0;
  }
}
.form-title_restore {
  margin: 267px 0 40px 0;
}
@media (max-width: 600px) {
  .form-title_restore {
    margin: 38px 0 24px 0;
  }
}
.form-title_with-link {
  padding-left: 40px;
}
.form-title__link {
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  background-image: url(../img/arrow-left.svg);
}
.form-title__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}
@media (max-width: 600px) {
  .form-title__text {
    font-size: 20px;
    line-height: 24px;
  }
}
.form-title__description {
  margin-top: 32px;
  margin-left: -40px;
  font-size: 15px;
  line-height: 19px;
  color: #A1ABC9;
}
.form-title__description_password-changed {
  width: 372px;
}
@media (max-width: 600px) {
  .form-title__description {
    width: 254px;
  }
  .form-title__description_password-changed {
    width: auto;
  }
}

.form-footer {
  padding: 0 0 80px 0;
}
@media (max-width: 600px) {
  .form-footer {
    padding: 0 0 44px 0;
  }
}
.form-footer__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #A1ABC9;
  padding: 0 12px 0 0;
}

.link {
  color: #7297FF;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  display: block;
}
.link_footer {
  display: inline-block;
}
@media (max-width: 600px) {
  .link_footer {
    display: block;
  }
}
.link_forgot {
  margin-top: 32px;
}
@media (max-width: 600px) {
  .link {
    padding: 2px 0 0 0;
  }
}
.link_email-example {
  display: inline-block;
}

.input-error {
  font-size: 13px;
  line-height: 16px;
  color: #F6657F;
  position: absolute;
  bottom: -23px;
  display: none;
}
@media (max-width: 600px) {
  .input-error {
    bottom: -52px;
  }
}

/* удаление иконки очистки поля в IE */
input[type=text]::-ms-clear {
  display: none;
}

/* удаление иконки отображения пароля в IE */
input[type=password]::-ms-reveal {
  display: none;
}

/*# sourceMappingURL=main.css.map */
